Chat {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	flex-direction: column;
	align-items: stretch;
	font-size: 20px;
	font-family: "Proxima Soft";
	font-weight: 800;
	gap: 10px;

	.input {
		color: white;
		border-radius: 20px;
	}

	&.open {
		.input {
			background-color: #00000055;
		}
	}
}
