@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@foreach(var floaterText in Scene.GetAllComponents<FloaterText>())
	{
		var pos = floaterText.Transform.Position;
		var screenPos = Scene.Camera.PointToScreenPixels(pos) * Panel.ScaleFromScreen;

		<div class="text" style="left: @(screenPos.x - 200)px; top: @(screenPos.y - 40)px; color:@(floaterText.TextColor.Rgba); opacity:@(floaterText.Opacity); font-size:@(floaterText.FontSize); font-family:@(floaterText.IsEmoji ? "W10Emoji" : "Proxima Soft");">@(floaterText.Text)</div>
	}
</root>

@code
{

	protected override int BuildHash()
	{
		var numItems = Scene.GetAllComponents<FloaterText>().Count();
		return System.HashCode.Combine(numItems > 0 ? Time.Now : 0f);
	}
}
