Hud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background-color: #444;
	justify-content: center;
	align-items: center;

	.pointer {
		pointer-events: all;
	}

	.round_display {
		position: absolute;
		font-size: 30px;
		font-family: Poppins;
		color: #ffffff;
		bottom: 25px;
		//white-space: pre;
		//font-family: "Discoteca Rounded";
		//font-family: "Roundy Rainbows";
		font-family: "Budokan Rounded";
	}

	.bottom_row {
		position: absolute;
		width: 40%;
		//background-color: #00ff0033;
	}

	.player_name {
		font-size: 25px;
		font-family: Poppins;
		//background-color: #00665511;
		font-family: "Budokan Rounded";
	}

	.player_avatar {
		width: 32px;
		height: 32px;
		background-position: center;
		background-size: cover;
		border-radius: 10px;
		margin-right: 4px;
	}

	.player_hp {
		font-size: 25px;
		color: #ffffff;
		//background-color: #0000ff11;
	}

	.upgrades_passive {
		position: absolute;
		width: 68px;
		height: 80%;
		//background-color: #0000ff33;
	}

	.upgrades_active {
		position: absolute;
		width: 420px;
		height: 68px;
		//background-color: #0000ff33;
		justify-content: center;
		align-items: center;
	}

	.item_description {
		position: absolute;
		width: 200px;
		//height: 80px;
		background-color: #000000ee;
		font-size: 16px;
		color: #ffffff;
		padding: 4px;
		white-space: pre;
		border-radius: 8px;
	}

	.leave_button {
		position: absolute;
		top: 10px;
		right: 85px;
		width: 100px;
		height: 50px;
		background-color: #333;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		font-family: Poppins;
		color: #bbbbbb;
		pointer-events: all;
		opacity: 0.7;
		font-family: "Budokan Rounded";

		&:hover {
			background-color: #153582;
			color: #eee;
			opacity: 0.8;
		}

		&:active {
			background-color: #3555d2;
			color: #fff;
			opacity: 1;
		}
	}

	.join_button {
		position: absolute;
		width: 200px;
		height: 130px;
		background-color: #333;
		justify-content: center;
		align-items: center;
		font-size: 50px;
		font-family: Poppins;
		color: #bbbbbb;
		pointer-events: all;
		opacity: 0.7;
		font-family: "Budokan Rounded";

		&:hover {
			background-color: #153582;
			color: #eee;
			opacity: 0.8;
		}

		&:active {
			background-color: #3555d2;
			color: #fff;
			opacity: 1;
		}
	}
}
