Hud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background-color: #444;
	justify-content: center;
	align-items: center;

	.pointer {
		pointer-events: all;
	}

	.round_display {
		position: absolute;
		font-size: 30px;
		font-family: Poppins;
		color: #ffffff;
		bottom: 25px;
		//white-space: pre;
	}

	.bottom_row {
		position: absolute;
		width: 40%;
		//background-color: #00ff0033;
	}

	.player_name {
		font-size: 25px;
		font-family: Poppins;
		//background-color: #00665511;
	}

	.player_hp {
		font-size: 25px;
		color: #ffffff;
		//background-color: #0000ff11;
	}

	.upgrades_passive {
		position: absolute;
		width: 80px;
		height: 80%;
		background-color: #0000ff11;
	}

	.item_description {
		position: absolute;
		width: 200px;
		height: 80px;
		background-color: #00000088;
		font-size: 16px;
		color: #ffffff;
		padding: 4px;
	}
}
