@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if(Manager.Instance.DoesPlayerExist0)
	{
		<div class="player_name_0">@(Manager.Instance.GetConnection(0).DisplayName)</div>
	}
	
	@if(Manager.Instance.DoesPlayerExist1)
	{
		<div class="player_name_1">@(Manager.Instance.GetConnection(1).DisplayName)</div>
	}
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}
