@keyframes scaleBounce {
    0% {
        opacity: 0.5;
        transform: scale(0.97);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.02);
    }

    70% {
        opacity: 0.95;
        transform: scale(0.99);
    }

    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

ItemTooltip {
    position: absolute;
    width: 300px;
    //height: 80px;
    //background-color: #00000011;
    background-color: #ffffff11;
    font-size: 16px;
    color: #ffffff;
    padding: 4px;
    border-radius: 8px;
    backdrop-filter: blur( 5px );
    box-shadow: -5px 5px 16px 4px #00000033;
    flex-direction: column;
    font-family: "Proxima Soft";
    font-weight: 800;
    animation: scaleBounce 0.25s ease-out forwards;
    z-index: 20;

    .top_row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .name_container {
        font-size: 16px;
        border-radius: 8px;
        padding: 4px;
        margin: 4px;
        background-color: #00000099;
        white-space: nowrap;
    }

    .name {
        padding-right: 2px;
    }

    .icon {
        font-family: W10Emoji;
        font-size: 14px;
        padding-right: 2px;
    }

    .rarity {
        border-radius: 8px;
        padding: 4px;
        margin: 2px;
        background-color: #00000066;
        white-space: nowrap;
        color: #ccc;
        //font-size: 12px;
        box-shadow: -2px 2px 6px #00000066;
    }

    .level_container {
        border-radius: 8px;
        padding: 4px;
        margin: 2px;
        background-color: #00000066;
        white-space: nowrap;
    }

    .level_label {
        padding-right: 3px;
    }

    .level_amount {
    }

    .passive {
        border-radius: 8px;
        color: #444466;
        padding: 2px;
        margin: 2px;
        background-color: #ddccff44;
        justify-content: center;
        //font-size: 12px;
        font-style: italic;
        opacity: 0.9;
        box-shadow: -2px 2px 4px #00000033;
        //text-shadow: -2px 2px 2px #00000066;
    }

    .description {
        border-radius: 8px;
        color: #333;
        padding: 6px;
        margin: 2px;
        background-color: #ffffff55;
        white-space: pre;
        //justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
    }
}
