@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if(TargetObject == null || MoneyPickup == null)
	{
		return;
	}

	@{
		var opacity = (MoneyPickup.MoneyMoveMode == MoneyMoveMode.Endow && !MoneyPickup.CanBePickedUp) ? 0.2f : 1f;
	}

	<div class="icon" style="opacity:@opacity;">@(MoneyPickup.IsFlying ? "💸" : "💵")</div>

	@if(MoneyPickup.NumLevels > 1)
	{
		<div class="level" style="right: -4px; top: 10px;">@($"{MoneyPickup.NumLevels}")</div>
	}

	<!--
	@if(Manager.Instance.HoveredObject == TargetObject)
	{
	var pos = Scene.Camera.PointToScreenNormal(TargetObject.Transform.Position);
		<div class="overlay" style="left:@(pos.x + 10)px; top:@(pos.y + 10)px;"></div>
	}
	-->
</root>

@code
{
	[Property] public GameObject TargetObject { get; set; }
	public MoneyPickup MoneyPickup { get; private set; }

	protected override void OnUpdate()
	{
		if(MoneyPickup == null)
			MoneyPickup = TargetObject?.Components.Get<MoneyPickup>() ?? null;
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(TargetObject, MoneyPickup.NumLevels, MoneyPickup.IsFlying, MoneyPickup.CanBePickedUp);
	}
}
