Nametag {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	flex-direction: row;
	align-items: stretch;
	font-size: 16px;
	font-family: Poppins;
	border-radius: 20px;
	//background-color: #00000055;
	transition: opacity 0.1s ease-out;
	white-space: nowrap;

	.avatar {
		width: 42px;
		height: 42px;
		background-position: center;
		background-size: cover;
		border-radius: 10px;
		margin: 4px;
		flex-shrink: 0;
	}

	.title {
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
		justify-content: center;
		align-items: center;
	}
}
