Nametag {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	flex-direction: row;
	align-items: stretch;
	font-size: 16px;
	border-radius: 20px;
	//background-color: #00000055;
	transition: opacity 0.1s ease-out;
	white-space: nowrap;
	gap: 2px;

	.row {
		flex-direction: row;
	}

	.avatar {
		width: 42px;
		height: 42px;
		background-position: center;
		background-size: cover;
		border-radius: 10px;
		//border: 4px solid black;
		margin: 4px;
		flex-shrink: 0;
	}

	.name {
		font-size: 25px;
		font-family: "Proxima Soft";
		font-weight: 800;
		text-stroke: 6px black;
		justify-content: center;
		align-items: center;
	}

	.victories_losses {
		border-radius: 20px;
		background-color: #ffffff11;
		font-size: 25px;
		font-family: "Proxima Soft";
		font-weight: 800;
		justify-content: center;
		align-items: center;
		color: #fff;
		margin-left: 8px;
		padding: 8px;
	}
}
