@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if(TargetObject == null || PickupItem == null)
	{
		return;
	}

	@{
		var rarity = Manager.Instance.GetRarityForUpgrade(PickupItem.UpgradeType);
	}

	<div class="icon" style="text-stroke: @(Manager.GetOutlineSizeForRarity(rarity))px @(Manager.GetColorForRarity(rarity).Rgba);">@(Manager.Instance.GetIconForUpgrade(PickupItem.UpgradeType))</div>

	@if(PickupItem.NumLevels > 1)
	{
		<div class="level" style="right: -10px; top: 8px;">@($"{PickupItem.NumLevels}")</div>
	}

	<!--
	@if(Manager.Instance.HoveredObject == TargetObject)
	{
		var pos = Scene.Camera.PointToScreenNormal(TargetObject.Transform.Position);
		<div class="overlay" style="left:@(pos.x + 10)px; top:@(pos.y + 10)px;"></div>
	}
	-->
</root>

@code
{
	[Property] public GameObject TargetObject { get; set; }
	public PickupItem PickupItem { get; private set; }

	protected override void OnUpdate()
	{
		PickupItem = TargetObject?.Components.Get<PickupItem>() ?? null;
	}

	protected override int BuildHash() 
	{
		return System.HashCode.Combine(TargetObject, PickupItem.UpgradeType, PickupItem.NumLevels);
	}
}
