@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if(_player == null) 
	{
		return;
	}

	@{
		var canAfford = _player.Money >= _player.CurrRerollPrice;
	}

	<div class="title" style="opacity:@(canAfford ? 1f : 0.6f); color: @((canAfford ? Color.White : new Color(0.4f, 0f, 0f)).Rgba);">Reroll</div>

	<div class="price" style="color: @((canAfford ? new Color(0.8f, 0.8f, 0f) : new Color(1f, 0.3f, 0.3f)).Rgba);">@($"${_player.CurrRerollPrice}")</div>
</root>

@code
{
	private PlayerController _player;

	protected override void OnUpdate()
	{
		if(_player == null)
			_player = Manager.Instance.GetPlayer(GameObject.Transform.Position.x < 0f ? 0 : 1);
	}

	protected override int BuildHash()
	{
		var money = _player?.Money ?? 0;
		var cost = _player?.CurrRerollPrice ?? 0;
		return System.HashCode.Combine(Manager.Instance.HoveredObject, money, cost);
	}
}
