RerollButtonLabel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.title {
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
		font-family: "Budokan Rounded";
	}

	.price {
		position: absolute;
		font-size: 32px;
		font-family: Poppins;
		left: -20px;
		top: -20px;
		text-shadow: 2px 2px 4px black;
		font-weight: 500;
		font-family: "Budokan Rounded";
		text-stroke: 8px black;
	}
}
