RerollButtonLabel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;

	.title {
		width: 95%;
		height: 95%;
		font-size: 22px;
		color: #fff;
		font-family: "Proxima Soft";
		font-weight: 700;
		background-color: #444;
		border-radius: 20px;
		justify-content: center;
		align-items: center;
		text-stroke: 6px black;
	}

	.price {
		position: absolute;
		font-size: 32px;
		left: -20px;
		top: -20px;
		text-shadow: 2px 2px 4px black;
		font-family: "Proxima Soft";
		font-weight: 700;
		text-stroke: 8px black;
	}
}
