@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if(TargetObject == null || ShopItem == null)
	{
		return;
	}

	<div class="title">@($"{Globals.GetNameForUpgrade(ShopItem.UpgradeType)}\n${ShopItem.Price}")</div>

	@if(ShopItem.NumLevels > 1) 
	{
		<div class="level" style="right: 0px; top: 0px;">@($"{ShopItem.NumLevels}")</div>
	}

	@if(Manager.Instance.HoveredObject == TargetObject)
	{
		var pos = Scene.Camera.PointToScreenNormal(TargetObject.Transform.Position);
		<div class="overlay" style="left:@(pos.x); top:@(pos.y);"></div>
	}
</root>

@code
{
	[Property] public GameObject TargetObject { get; set; }
	public ShopItem ShopItem { get; private set; }

	protected override void OnUpdate()
	{
		ShopItem = TargetObject?.Components.Get<ShopItem>() ?? null;
	}

	protected override int BuildHash() 
	{
		return System.HashCode.Combine(TargetObject, ShopItem.UpgradeType, ShopItem.NumLevels, ShopItem.Price, Manager.Instance.HoveredObject);
	}
}
