@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if(SkipButton == null)
	{
		return;
	}

	<div class="title" style="background-color:@((SkipButton.FlashToggle ? new Color(0.35f, 0.35f, 0.3f) : new Color(0.25f, 0.25f, 0.25f)).Rgba); 
							  color:@((SkipButton.FlashToggle ? new Color(0.5f, 0.5f, 0f) : new Color(1f, 1f, 1f)).Rgba);">Skip</div>
</root>

@code
{
	public SkipButton SkipButton { get; private set; }

	protected override void OnUpdate()
	{
		if(SkipButton == null)
			SkipButton = GameObject.Parent?.Components.Get<SkipButton>() ?? null;
	}

	protected override int BuildHash()
	{
		var flashToggle = SkipButton?.FlashToggle ?? false;
		return System.HashCode.Combine(flashToggle);
	}
}
