@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet("TabIndicator.razor.scss")]

<root style="@(Input.Down("Score") || Manager.Instance.IsTabIndicatorHovered ? "color: #ffffff; transform: scale( 1.05 )" : "color: #bbbbbb; transform: scale( 1 )");">
	<div class="title">
		@($"{(Input.Down("Score") || Manager.Instance.IsTabIndicatorHovered ? "🆒" : "ℹ")} Tab")
	</div>
</root>

@code
{
	protected override void OnMouseOver(MousePanelEvent e)
	{
		Manager.Instance.IsTabIndicatorHovered = true;
	}

	protected override void OnMouseOut(MousePanelEvent e)
	{
		Manager.Instance.IsTabIndicatorHovered = false;
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(Input.Down("Score") || Manager.Instance.IsTabIndicatorHovered);
	}
}
