@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet("TabIndicator.razor.scss")]

<root style="transform: scale( @(Manager.Instance.ShouldBounceTabIndicator ? 1f + Utils.FastSin(Time.Now * 12f) * 0.1f : 1f) );">
	<div class="title">
		@($"{(Input.Down("Score") || Manager.Instance.IsTabIndicatorHovered ? "🆒" : "ℹ")} Tab")
	</div>
</root>

@code
{
	// private TimeSince _timeSinceSpawn;

	protected override void OnMouseOver(MousePanelEvent e)
	{
		Manager.Instance.IsTabIndicatorHovered = true;
		Manager.Instance.ShouldBounceTabIndicator = false;
	}

	protected override void OnMouseOut(MousePanelEvent e)
	{
		Manager.Instance.IsTabIndicatorHovered = false;
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(
			Input.Down("Score") || Manager.Instance.IsTabIndicatorHovered,
			Time.Now
		);
	}
}
